@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
body {
  background: linear-gradient(to right, #4e4646, #beadf3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
   margin: -20px 0 60px; 
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.notification-card {
  display: none;
  position: fixed;
  top: 20px;
  right: -200px;
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.notification-card.show {
  display: block;
  right: 40px;
}

.error-message {
  color: red;
}
.AddTask {
  display: flex;
  background-color: rgb(100, 98, 98);
  color: white;
  background-size: 13px, 29px, 37px, 53px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  max-height: 300px;
  margin: 5rem 2rem;
  flex-wrap: wrap;
  padding: 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
}
.AddTask input[type="text"] {
  letter-spacing: 0.5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  word-wrap: break-word;
}
#description {
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  height: 100px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 #ddd;
}

.AddTask .description-box::-webkit-scrollbar {
  width: 6px;
}

.AddTask .description-box::-webkit-scrollbar-thumb {
  background-color: #2fcbfa;
}

.AddTask .description-box::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.AddTask .description-box::-webkit-scrollbar-track {
  background-color: #ddd;
}
.AllTasks,
.CompletedTasks {
  display: none;
}
.AllTasks,
.CompletedTasks {
  background-color: rgb(100, 98, 98);
  color: rgb(0, 0, 0);
  background-size: 13px, 29px, 37px, 53px;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-width: 300px;
  max-width: 300px;
  margin: 5rem 2rem;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.item {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #debafb;
}
.buttons {
  display: flex;
  justify-content: center;
}
.AllTasks h3,
.CompletedTasks h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.AllTasks p,
.CompletedTasks p {
  padding: 2px 2px 2px 2px;
  height: auto;
  max-height: 90px;
  word-wrap: break-word;
  overflow-y: auto;
  text-overflow: ellipsis;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 #ddd;
}
.CompletedTasks p::-webkit-scrollbar {
  width: 6px;
}

.CompletedTasks p::-webkit-scrollbar-thumb {
  background-color: #2fcbfa;
}

.CompletedTasks p::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.CompletedTasks p::-webkit-scrollbar-track {
  background-color: #ddd;
}
.AllTasks p::-webkit-scrollbar {
  width: 6px;
}

.AllTasks p::-webkit-scrollbar-thumb {
  background-color: #2fcbfa;
}

.AllTasks p::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.AllTasks p::-webkit-scrollbar-track {
  background-color: #ddd;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #121720;
  color: #e3e4e5;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-2,
.button-3,
.button-4 {
  background-color: #ffffff;
  border-radius: 20px;
  color: #1c1a1a;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:not(:disabled):hover,
.button-2:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.button-3:not(:disabled):hover,
.button-3:not(:disabled):focus {
  outline: 0;
  background: #f44721;
  color: #ffffff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.button-4:not(:disabled):hover,
.button-4:not(:disabled):focus {
  outline: 0;
  background: #0df41d;
  color: #ffffff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.tag {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .tag h1 {
    margin: 0;
  }
  
  .tag .button-88 {
    margin-left: 20px;
  }
.button-88 {
    display: flex;
    width: 7rem;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(246, 93, 93) 0%, rgb(244, 0, 0) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #8054ee98;
  }
  
  .button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #8e000098;
  }
  



